@model JobApplication.Areas.Identity.Data.ViewModels.UserAndOffers
@{
    ViewData["Title"] = "Index";
}

<div class="tab">
    <div class="p-3">
        <div class="col-12">
            <div class="row">
                <div class="col-3 p-2 rounded">
                    <img class="img-fluid rounded MainBackgroundImage PanelImage backgroundimage-css" @*src="~/images/@Model.BackgroundImage"*@ />
                </div>
                <div class="col-9 text-center">
                    <div class="row">
                        Witaj!
                    </div>
                    <div class="row">
                        @User.Identity.Name
                    </div>
                </div>
            </div>

        </div>
    </div>
    <button class="tablinks" id="Panel" onclick="OpenNavbarItem(event, 'Employer1')">Panel użytkownika</button>
    <button class="tablinks" id="DodajPrace" onclick="OpenNavbarItem(event, 'Employer2')">Dodaj ofertę pracy</button>
    <button class="tablinks ofertypracy" id="ofertypracy" onclick="OpenNavbarItem(event, 'Employer3')">Wszystkie oferty pracy</button>
    <button class="tablinks" id="Aplikacje" onclick="OpenNavbarItem(event, 'Employer4')">Aplikacje</button>
    <button class="tablinks" id="Pakiety" onclick="OpenNavbarItem(event, 'Employer5')">Pakiety</button>
    <button class="tablinks" id="ZapisaneCV" onclick="OpenNavbarItem(event, 'Employer6')">Zapisane cv</button>
    <button class="tablinks" id="Opinie" onclick="OpenNavbarItem(event, 'Employer7')">Opinie</button>
    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <button class="tablinks" type="submit">Wyloguj!</button>
    </form>
</div>

@*<div class="userPanelPadding">
    <main role="main" class="pb-3">
        <div class="login-Containter">*@
<div class="userPanelPadding">
    <div id="Employer1" class="tabcontent" style=" display:none">
        <main role="main" class="pb-3">
            <div class="login-Containter">
                <div class="row">
                    <div class="userblock-6">
                        <div class="box sandybrown">
                            <div class="row">

                                <div class="col-3">
                                    <div class="boxitem">

                                        <img class="img-fluid rounded MainBackgroundImage PanelImage backgroundimage-css" @*src="~/images/@Model.BackgroundImage"*@ />

                                    </div>
                                </div>
                                <div class="col-9">
                                    <div class="boxitem">
                                        <div class="row">
                                            <div id="MainCompanyNAME"></div>
                                        </div>
                                        <div class="row">
                                            <div id="MainHeadline"></div>
                                        </div>
                                        <div class="row">
                                            <input type="button" class="btn btn-info tablinks" id="editProfile" value="Edytuj" onclick="OpenNavbarItem(event, 'Employer8')" />
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="userblock-3">
                                <div class="box sandybrown">
                                    <div class="boxitem cursor-pointer ofertypracy" onclick="OpenNavbarItem(event, 'Employer3')">
                                        Wszystkie Oferty
                                    </div>
                                </div>
                            </div>
                            <div class="userblock-3">
                                <div class="box darkseagreen">
                                    <div class="boxitem cursor-pointer ofertypracy" onclick="OpenNavbarItem(event, 'Employer3')">
                                        Opublikowane Oferty
                                    </div>
                                </div>
                            </div>
                            <div class="userblock-3">
                                <div class="box cadetblue">
                                    <div class="boxitem cursor-pointer ofertypracy" onclick="OpenNavbarItem(event, 'Employer3')">
                                        Wygasłe oferty
                                    </div>
                                </div>
                            </div>
                            <div class="userblock-3">
                                <div class="box blanchedalmond">
                                    <div class="boxitem cursor-pointer ofertypracy" onclick="OpenNavbarItem(event, 'Employer3')">
                                        Oczekujące oferty
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="userblock-6">
                                <div class="box slategray">
                                    <div class="boxitem">
                                        cos tu
                                    </div>
                                </div>
                            </div>
                            <div class="userblock-6">
                                <div class="box slategray">
                                    <div class="boxitem">
                                        cos tu
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    @*<form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="jobOffer.Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeOfJob" class="control-label"></label>
                <input asp-for="TypeOfJob" class="form-control" />
                <span asp-validation-for="TypeOfJob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentMin" class="control-label"></label>
                <input asp-for="PaymentMin" class="form-control" />
                <span asp-validation-for="PaymentMin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentMax" class="control-label"></label>
                <input asp-for="PaymentMax" class="form-control" />
                <span asp-validation-for="PaymentMax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublicationTime" class="control-label"></label>
                <input asp-for="PublicationTime" class="form-control" />
                <span asp-validation-for="PublicationTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Skills" class="control-label"></label>
                <input asp-for="Skills" class="form-control" />
                <span asp-validation-for="Skills" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deadline" class="control-label"></label>
                <input asp-for="Deadline" class="form-control" />
                <span asp-validation-for="Deadline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChooseTheCurrency" class="control-label"></label>
                <input asp-for="ChooseTheCurrency" class="form-control" />
                <span asp-validation-for="ChooseTheCurrency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>*@
    <div id="Employer2" class="tabcontent" style=" display:none">
        <main role="main" class="pb-3">
            <div class="login-Containter">
                <div class="row">
                    obrazek
                </div>
                <form asp-action="CreateNewJobOffer" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="container-padding">
                        <div class="row">
                            <div class="col-12">
                                <div class="text-bottom-left-padding bolded">TYTUŁ*</div>
                                <input asp-for="jobOffer.Title" class="form-control form-input" placeholder="Wprowadz tytuł" />
                                <span asp-validation-for="jobOffer.Title" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="container-padding">
                        <div class="row">
                            <div class="col-12">
                                <div class="text-bottom-left-padding bolded">OPIS*</div>
                                <textarea asp-for="jobOffer.Description" class="form-control form-input" placeholder="Wprowadz opis"> </textarea>
                                <span asp-validation-for="jobOffer.Description" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="container-padding">
                        <div class="row">
                            <div class="col-lg-4 col-md-12">
                                <div class="text-bottom-left-padding bolded">KATEGORIA OFERTY PRACY*</div>
                                <input asp-for="jobOffer.Category" class="form-control form-input" placeholder="Wybierz kategorię" />
                                <span asp-validation-for="jobOffer.Category" class="text-danger"></span>
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <div class="text-bottom-left-padding bolded">WYMIAR PRACY*</div>
                                <select asp-for="jobOffer.TypeOfJob" asp-items="@Html.GetEnumSelectList<TypeOfJob>()" class="form-control form-input" placeholder="Wybierz wymiar pracy"></select>
                                <span asp-validation-for="jobOffer.TypeOfJob" class="text-danger"></span>
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <div class="text-bottom-left-padding bolded">POZIOM STANOWISKA*</div>
                                <input asp-for="jobOffer.WorkingTime" class="form-control form-input" placeholder="Wybierz poziom stanowiska" />
                                <span asp-validation-for="jobOffer.WorkingTime" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="container-padding">
                        <div class="row">
                            <div class="col-lg-4 col-md-12">
                                <div class="text-bottom-left-padding bolded">WYNAGRODZENIE OD</div>
                                <input asp-for="jobOffer.PaymentMin" class="form-control form-input" placeholder="Wprowadz wynagrodzenie od" />
                                <span asp-validation-for="jobOffer.PaymentMin" class="text-danger"></span>
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <div class="text-bottom-left-padding bolded">WYNAGRODZENIE DO</div>
                                <input asp-for="jobOffer.PaymentMax" class="form-control form-input" placeholder="Wprowadz wynagrodzenie do" />
                                <span asp-validation-for="jobOffer.PaymentMax" class="text-danger"></span>
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <div class="text-bottom-left-padding bolded">WALUTA</div>
                                <select asp-for="jobOffer.ChooseTheCurrency" class="form-input">
                                    <option disabled selected>Wybierz walutę</option>
                                    <option value="PLN">PLN</option>
                                    <option value="EUR">EUR</option>
                                    <option value="GBP">GBP</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="container-padding">
                        <div class="row">
                            <div class="col-lg-4 col-md-12">
                                <div class="text-bottom-left-padding bolded">JĘZYKI</div>
                                <input type="text" asp-for="jobOffer.Languages  " placeholder="Wybierz język" class="w-100" />

                            </div>
                            <div class="col-lg-4 col-md-12">
                                <div class="text-bottom-left-padding bolded">PŁEĆ</div>
                                <input type="text" placeholder="Wprowadz płeć" class="w-100" />

                            </div>
                        </div>
                    </div>

                    <div class="container-padding">
                        <div class="row">
                            <div class="col-12">
                                <div class="text-bottom-left-padding bolded">USTAWIENIA APLIKACJI</div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="text-bottom-left-padding bolded">TERMIN SKŁADANIA APLIKACJI</div>
                                        <input asp-for="jobOffer.Deadline" class="form-control form-input" placeholder="Wprowadz deadline" />
                                        <span asp-validation-for="jobOffer.Deadline" class="text-danger"></span>
                                    </div>
                                    <div class="col-6">
                                        <div class="text-bottom-left-padding bolded">E-MAIL DO SKŁADANIA APLIKACJI</div>
                                        <input asp-for="jobOffer.Email" class="form-control form-input" placeholder="Wprowadz email" />
                                        <span asp-validation-for="jobOffer.Email" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container-padding">
                        <div class="row">
                            <div class="col-12">
                                <div class="text-bottom-left-padding bolded">WYMAGANE UMIEJĘTNOŚCI</div>
                                <input asp-for="jobOffer.Skills" class="form-control form-input" placeholder="Wprowadz wymagane umiejętności" />
                                <span asp-validation-for="jobOffer.Skills" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="container-padding">
                        <div class="row">
                            <div class="col-12">
                                <div class="text-bottom-left-padding bolded">LOKALIZACJA I MAPA</div>
                                <input asp-for="jobOffer.Location" class="form-control form-input" placeholder="Wprowadz lokalizację" />
                                <span asp-validation-for="jobOffer.Location" class="text-danger"></span>
                            </div>
                        </div>
                    </div>


                    <div id="map" class="map-view"></div>
                    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDU5JFGguFmEvu3-KTiIM0pyaSo01aJx9s&callback=initMap&libraries=&v=weekly"
                            defer></script>
                    <input type="submit" />
                </form>
            </div>
        </main>
    </div>

    <div id="Employer3" class="tabcontent" style=" display:none">
        <main role="main" class="pb-3">
            <div class="login-Containter">
                <h2 id="message" class="text-black">@TempData["Message"]</h2>
                <div class="row">
                    <div class="col-4">
                        <div class="row">
                            <div class="col-9 px-0">
                                <div>
                                    <select class="form-input">
                                        <option>1</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-3 px-0">
                                <button>
                                    🔍
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div>
                            <select class="form-input">
                                <option>1</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-3">
                        <div>
                            <select class="form-input">
                                <option>1</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <table class="table table-sm table-striped table-bordered m-2">
                        <thead>
                            <tr>
                                <th>TYTYŁ</th>
                                <th>APLIKACJE</th>
                                <th>UTWORZONO</th>
                                <th>PRZEDAWNIONY</th>
                                <th>PODGLĄD</th>
                                <th>STATUS</th>
                                <th>WYRÓŻNIONE</th>
                                <th>AKCJA</th>
                            </tr>
                        </thead>
                        <tbody id="tablebody">
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </div>

    <div id="Employer4" class="tabcontent" style=" display:none">
        <main role="main" class="pb-3">
            <div class="login-Containter">
                <div class="row">
                    <div class="col-4">
                        <div class="row">
                            <div class="col-9 px-0">
                                <div>
                                    <select class="form-input">
                                        <option>1</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-3 px-0">
                                <button>
                                    🔍
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div>
                            <select class="form-input">
                                <option>1</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-3">
                        <div>
                            <select class="form-input">
                                <option>1</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    Tu bedzie tabela z aplikacjami
                </div>
            </div>
        </main>
    </div>

    <div id="Employer5" class="tabcontent" style=" display:none">



    </div>

    <div id="Employer6" class="tabcontent" style=" display:none">
        <main role="main" class="pb-3">
            <div class="login-Containter">
                <div class="row">
                    <div class="col-3">
                        <div class="row">
                            <div class="col-9 px-0">
                                <div>
                                    <select class="form-input">
                                        <option>1</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-3 px-0">
                                <button>
                                    🔍
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    Tu bedzie tabela z cv
                </div>
            </div>
        </main>
    </div>

    <div id="Employer7" class="tabcontent" style=" display:none">
        <main role="main" class="pb-3">
            <div class="login-Containter">
                <div class="row">
                    <div class="col-3">
                        <div class="row">
                            <div class="col-9 px-0">
                                <div>
                                    <select class="form-input">
                                        <option>1</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-3 px-0">
                                <button>
                                    🔍
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    Tu bedzie tabela z opiniami
                </div>
            </div>
        </main>
    </div>
    <div id="Employer8" class="tabcontent" style=" display:none">

        <main role="main" class="pb-3">
            <div class="login-Containter">
                <div class="row">
                    <div class="col-2">
                        <div>
                           
                        </div>
                    </div>
                    <div class="col-10">
                        <div class="row">
                            <div>
                                Text costam
                            </div>
                        </div>
                        <div class="row">
                            <div>
                                <input type="button" />
                            </div>
                        </div>
                    </div>
                </div>
                <form asp-action="ProfilePost" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" id="ID" asp-for="AppUserDto.Id" />
                    <div class="form-group">
                        <input name="file" type="file" onchange="ShowPreview(this)" class="btn btn-primary" />
                    </div>
                    <img ID="impPrev" class="img-fluid rounded BackgroundImage backgroundimage-css" @*src="~/images/@Model.BackgroundImage"*@ />

                    <div class="container-padding">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="text-bottom-left-padding bolded">NAZWA FIRMY*</div>
                                <input id="CompanyName" class="form-control form-input" asp-for="AppUserDto.CompanyName" placeholder="Wprowadz nazwę firmy" />
                                <span asp-validation-for="AppUserDto.CompanyName" class="text-danger"></span>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="text-bottom-left-padding bolded">EMAIL*</div>
                                <input id="Email" class="form-control form-input" asp-for="AppUserDto.Email" placeholder="Wprowadz email" />
                                <span asp-validation-for="AppUserDto.Email" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="container-padding">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="text-bottom-left-padding bolded">NAGŁÓWEK*</div>
                                <input id="Headline" class="form-control form-input" asp-for="AppUserDto.Headline" placeholder="Wprowadz nagłówek" />
                                <span asp-validation-for="AppUserDto.Headline" class="text-danger"></span>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="text-bottom-left-padding bolded">TELEFON</div>
                                <input id="PhoneNumber" class="form-control form-input" asp-for="AppUserDto.PhoneNumber" placeholder="Wprowadz email" />
                                <span asp-validation-for="AppUserDto.PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="container-padding">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="text-bottom-left-padding bolded">STRONA WWW</div>
                                <input id="Website" class="form-control form-input" asp-for="AppUserDto.Website" placeholder="Wprowadz stronę internetową" />
                                <span asp-validation-for="AppUserDto.Website" class="text-danger"></span>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="text-bottom-left-padding bolded">DATA ZAŁOŻENIA</div>
                                <input id="FoundingDate" class="form-control form-input" asp-for="AppUserDto.FoundingDate" placeholder="Wprowadz datę założenia" />
                                <span asp-validation-for="AppUserDto.FoundingDate" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="container-padding">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="text-bottom-left-padding bolded">ROZMIAR FIRMY*</div>
                                <select asp-for="AppUserDto.CompanySize" id="CompanySize" asp-items="@Html.GetEnumSelectList<JobApplication.Areas.Identity.Data.CompanySize>()" class="form-control"></select>
                            </div>
                        </div>
                    </div>

                    <div class="container-padding">
                        <div class="row">
                            <div class="col-12">
                                <div class="text-bottom-left-padding bolded">KRÓTKI OPIS*</div>
                                <textarea asp-for="AppUserDto.ShortDescription" id="ShortDescription" class="form-control form-input" placeholder="Wprowadz krótki opis"> </textarea>
                                <span asp-validation-for="AppUserDto.ShortDescription" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="container-padding">
                        <div class="row">
                            <div class="col-12">
                                <div class="text-bottom-left-padding bolded">OPIS</div>
                                <textarea asp-for="AppUserDto.Descrption" id="Descrption" class="form-control form-input" placeholder="Wprowadz krótki opis"> </textarea>
                                <span asp-validation-for="AppUserDto.Descrption" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="container-padding">
                        <div class="row">
                            <div class="col-12">
                                <div class="text-bottom-left-padding bolded">PREFERENCJE ZAWODOWE</div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="text-bottom-left-padding bolded">KATEGORIE</div>
                                        <input id="Categories" asp-for="AppUserDto.Categories" class="form-control form-input" placeholder="Nie wybrano" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container-padding">
                        <div class="row">
                            <div class="col-12">
                                <div class="text-bottom-left-padding bolded">LOKALIZACJA I MAPA</div>
                                <div class="row">
                                    <div class="col-12">
                                        mapa
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container-padding">
                        <div class="row">
                            <div class="col-12">
                                <div class="text-bottom-left-padding bolded">ADRES PLIKU WIDEO</div>
                                <div class="row">
                                    <div class="col-12">
                                        <input asp-for="AppUserDto.VideoUrl" id="VideoUrl" class="form-control form-input" placeholder="Nie wybrano" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container-padding">
                        <div class="row">
                            <div class="col-12">
                                <div class="text-bottom-left-padding bolded">ZDJĘCIE W TLE</div>
                                <div class="row">
                                    <div class="col-2">
                                        zdjecie
                                    </div>
                                    <div class="col-10">
                                        <input type="button" asp-for="AppUserDto.VideoUrl" class="form-control form-input" placeholder="Nie wybrano" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container-padding">
                        <div class="row">
                            <div class="col-12">
                                <div class="text-bottom-left-padding bolded">GALERIA</div>
                                <div class="row">
                                    ???
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container-padding">
                        <div class="row">
                            <div class="col-12">
                                <div class="text-bottom-left-padding bolded">FIRMOWY PROFIL SPOŁECZNOŚCIOWY</div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="text-bottom-left-padding bolded">FACEBOOK</div>
                                        <input id="FacebookProfile" class="form-control form-input" asp-for="AppUserDto.FacebookProfile" placeholder="Wprowadz profil facebooka" />
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="text-bottom-left-padding bolded">TWITTER</div>
                                        <input id="TwitterProfile" class="form-control form-input" asp-for="AppUserDto.TwitterProfile" placeholder="Wprowadz profil twittera" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="text-bottom-left-padding bolded">YOUTUBE</div>
                                        <input id="YoutubeProfile" class="form-control form-input" asp-for="AppUserDto.YoutubeProfile" placeholder="Wprowadz profil youtube" />
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="text-bottom-left-padding bolded">VIMEO</div>
                                        <input id="VimeoProfile" class="form-control form-input" asp-for="AppUserDto.VimeoProfile" placeholder="Wprowadz profil vimeo" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="text-bottom-left-padding bolded">LINKEDIN</div>
                                        <input id="LinkedinProfile" class="form-control form-input" asp-for="AppUserDto.LinkedinProfile" placeholder="Wprowadz profil linkedin" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="submit" value="Zaaktualizuj profil" class="btn btn-primary" />
                </form>
                <a asp-controller="EmployerPanel" class="btn btn-secondary" asp-action="ResetPassword"> ZMIEN HASLO</a>
            </div>
        </main>

    </div>


</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>

        $("#editProfile").click(function () {
            $.ajax({
                method: "GET",
                url: "/EmployerPanel/EditProfile",
                success: function (data) {
                    alert(data);
                    // if data is in string format
                    var Data = $.parseJSON(data);
                    $("#ID").val(Data.Id);
                    $("#CompanyName").val(Data.CompanyName);
                    $("#Email").val(Data.Email);
                    $("#VideoUrl").val(Data.VideoUrl);
                    $("#Website").val(Data.Website);                
                    $("#FoundingDate").val(Data.FoundingDate.substr(0, 10));
                    $("#ShortDescription").val(Data.ShortDescription);
                    $("#Descrption").val(Data.Descrption);
                    $("#Categories").val(Data.Categories);
                    $("#CompanySize").val(Data.CompanySize);

                    $("#Address").val(Data.Address);
                    $("#PhoneNumber").val(Data.PhoneNumber);
                    //$("#BackgroundImage").val(Data.BackgroundImage);
                    $(".BackgroundImage").attr("src", "/images/" + Data.BackgroundImage);
                    $("#FacebookProfile").val(Data.FacebookProfile);
                    $("#Gallery").val(Data.Gallery);
                    $("#Headline").val(Data.Headline);
                    $("#LinkedinProfile").val(Data.LinkedinProfile);
                    $("#TwitterProfile").val(Data.TwitterProfile);

                    $("#VideoUrl").val(Data.VideoUrl);
                    $("#VimeoProfile").val(Data.VimeoProfile);
                    $("#YoutubeProfile").val(Data.YoutubeProfile);

                }
            });
        });

        $(document).ready(function () {
            $.ajax({
                method: "GET",
                url: "/EmployerPanel/EditProfile",
                success: function (data) {
                    // if data is in string format
                    var Data = $.parseJSON(data);

                    //$("#BackgroundImage").val(Data.BackgroundImage);
                    $(".MainBackgroundImage").attr("src", "/images/" + Data.BackgroundImage);
                    $("#MainHeadline").text(Data.Headline);
                    $("#MainCompanyNAME").text(Data.CompanyName);
                }
            });
        });

        $(document).ready(function () {
            $(".tablinks").click(function () {
                $("#message").remove();
            });
        });

        $(document).ready(function () {

            LoadTabindex();
            var pageURL = $(location).attr("href");
            var edited = pageURL.substr(pageURL.indexOf("=") + 1);
            if (edited == "MojeOferty") {
                ajaxfun();
            }
            $(".ofertypracy").click(function () {
                ajaxfun();
            });

            window.addEventListener('popstate', function (event) {

                LoadTabindex();

            });
        });



        function ajaxfun() {
                $("#tablebody tr").remove();
                $.ajax({
                    url: "/EmployerPanel/GetJobOffers",
                    type: "get",
                    success: function (data) {
                        var Data = $.parseJSON(data);
                        if (Data == "") {
                            alert("Nie dodano ofert pracy");
                        }

                        $.each(Data, function (value) {

                            var Year = @int.Parse(DateTime.Now.Year.ToString());
                            var Month = @int.Parse(DateTime.Now.Month.ToString());
                            var Day = @int.Parse(DateTime.Now.Day.ToString());

                            $("tbody").append($("<tr>"));
                            appendElement = $("tbody tr").last();
                            appendElement.append($("<td>").html(Data[value]["Title"]));
                            appendElement.append($("<td>").html(Data[value]["TypeOfJob"]));
                            appendElement.append($("<td>").html(Data[value]["PublicationTime"].substr(0, 10)));
                            appendElement.append($("<td>").html(Data[value]["Deadline"].substr(0, 10)));
                            appendElement.append(($("<a/>")).attr("class", "btn btn-info mx-1").append($('<i/>').attr("class", "fas fa-info")).attr("href", "Jobs/Details/" + Data[value]["Id"] + "/" + Data[value]["Title"]))
                            if (Year > parseInt(Data[value]["Deadline"].substr(0, 4))) {
                                appendElement.append($("<td>").html("Przedawniony").attr("style", "color:red"));
                            }
                            else if (Month > Data[value]["Deadline"].substr(5, 2) && Year >= parseInt(Data[value]["Deadline"].substr(0, 4))) {
                                appendElement.append($("<td>").html("Przedawniony").attr("style", "color:red"));
                            }
                            else if ((Day > parseInt(Data[value]["Deadline"].substr(8, 2)) && Month >= Data[value]["Deadline"].substr(5, 2)) && Year >= parseInt(Data[value]["Deadline"].substr(0, 4))) {
                                appendElement.append($("<td>").html("Przedawniony").attr("style", "color:red"));
                            }
                            else {
                                appendElement.append($("<td>").html("Aktualny").attr("style", "color:green"));
                            }
                            if (Data[value]["IsFeatured"] == true) {
                                appendElement.append($("<td>").html("🗸"));
                            }
                            else {
                                appendElement.append($("<td>").html("X"));
                            }
                            appendElement.append($("<td>").append(($("<a/>")).attr("class", "btn btn-info mx-1").html('✏').attr("href", "EmployerPanel/EditJobOffer/" + Data[value]["Id"]))
                                .append($("<a/>").attr("class", "btn btn-danger mx-1").html('🗑').attr("href", "EmployerPanel/DeleteJobOffer/" + Data[value]["Id"]).attr('onclick', "return confirm('Czy na pewno chcesz to usunąć?');")));
                        });
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr)
                    }
                });
            }

        function LoadTabindex() {
            var pageURL = $(location).attr("href");

            var edited = pageURL.substr(pageURL.indexOf("=") + 1);
            if (edited == "Panel") {
                OpenNavbarItemOnLoad('Employer1');
            }
            else if (edited == "DodajOferte") {
                OpenNavbarItemOnLoad('Employer2');
            }
            else if (edited == "MojeOferty") {
                OpenNavbarItemOnLoad('Employer3');
            }
            else if (edited == "OfertyAplikacyjne") {
                OpenNavbarItemOnLoad('Employer4');
            }
            else if (edited == "PakietyOfert") {
                OpenNavbarItemOnLoad('Employer5');
            }
            else if (edited == "PakietyKandydatow") {
                OpenNavbarItemOnLoad('Employer6');
            }
            else if (edited == "PrzegladaneZyciorysy") {
                OpenNavbarItemOnLoad('Employer7');
            }
            else {
                OpenNavbarItemOnLoad("Employer1");
                changeurl('Panel');
            }
        }




        function OpenNavbarItemOnLoad(itemNumber) {
            var i, tabcontent, tablinks;

            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(itemNumber).style.display = "block";



        }


        function changeurl(url) {
            var new_url = "/EmployerPanel?name=" + url;
            window.history.pushState("data", "Title", new_url);
            //document.title = url;
        }

        var map;  //google maps
        function initMap() {
            map = new google.maps.Map(document.getElementById("map"), {
                center: { lat: -34.397, lng: 150.644 },
                zoom: 8
            });
        }
</script>
}
