@model JobApplication.Areas.Identity.Data.AppUserEmployeeExtension

@{
    ViewData["Title"] = "ShowCandidateInformation";
}

<h1>ShowCandidateInformation</h1>

<div>
    <h4>AppUserEmployeeExtension</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsShowing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsShowing)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CVFile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CVFile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Languages)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Languages)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypePreferes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypePreferes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Levels)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Levels)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Localization)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Localization)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentMinProfile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentMinProfile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExperiencesProfile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExperiencesProfile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SkillsProfile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SkillsProfile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
