@model IEnumerable<JobApplication.Models.JobOffer>;
@{
    ViewData["Title"] = "Index";
}
<figure>
    <img class="background-main-image" />
    <div class="main-settings">
        <figcaption>
            <div class="main-text">STREFA PRACOWNIKA</div>
            <div><br />Zaloguj lub zarejestruj się aby stworzyć profil kandydata</div>
            <br />
            <div class="text-box select-box">
                <div class="row justify-content-center">
                    <div class="col-3">
                        <div class="px-0">
                            <form asp-area="Identity" asp-page="/Account/Login" method="get">
                                <button class="text-dark btn btn-success w-100 py-2">Logowanie</button>

                            </form>
                        </div>
                    </div>
                    <div class="w-2">
                    </div>
                    <div class="col-3 h-100">
                        <div class="px-0">
                            <form asp-area="Identity" asp-page="/Account/Register" method="get">

                                <input type="text" hidden id="RejestrujJako" name="RejestrujJako" value="Kandydat" />
                                <button class="btn btn-secondary w-100 py-2" onclick=" CLick()">Rerestracja</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </figcaption>
    </div>
</figure>



<main role="main" class="pb-3">
    <div class="menu-Container justify-content-center">

        <div class="text-center">
            <div class="menu my-5">
                <div class="row">
                    <div class="menu-item disabled col-6 button1 filter-feature current-menu-item disabled " data-filter="newestNoFeature">
                        <div text-align:center;">NAJNOWSZE OFERTY</div>
                        <div class="wee disabled"></div>
                    </div>
                    <div class="menu-item col-6 filter-feature button2" data-filter="newestFeatured">
                        <div text-align:center;">WYRÓŻNIONE OFERTY</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="filter newestNoFeature ">
            <div class="row">

                @if (Model.Where(f => f.IsFeatured == false).Count() == 0)
                {
                    <h1>Brak ofert</h1>
                }
                @foreach (var item in Model.Where(f => f.IsFeatured == false).Reverse().Take(8))
                {
                    <div class="container col-sm-6">
                        <a asp-area="Jobs" asp-controller="Jobs" asp-action="Details" asp-route-name="@item.Title" asp-route-id="@item.Id" class="text-decoration-none text-black">
                            <div class="joboffer-main">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-2">

                                            <img src="~/images/@item.PhotoCompanyOffer" class="job-offer-images-main PanelImage" />
                                        </div>
                                        <div class="col-7">
                                            <h5></h5>
                                            <p>@Html.DisplayFor(modelItem => item.Title)</p>
                                            <p>@Html.DisplayFor(modelItem => item.CompanyNameOffer)</p>
                                            <p>@Html.DisplayFor(modelItem => item.PaymentMin) - @Html.DisplayFor(modelItem => item.PaymentMax)</p>
                                            <p>@Html.DisplayFor(modelItem => item.PublicationTime)</p>
                                        </div>
                                        <div class="col-3">
                                            <div class="joboffer-button TypeOfJob text-center TypeOfJob-@Html.DisplayFor(modelItem => item.TypeOfJob)">
                                                <div>@Html.DisplayFor(modelItem => item.TypeOfJob)</div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </a>
                        <div><br /><br /></div>
                    </div>
                }
            </div>
        </div>

        <div class="filter newestFeatured" style="display:none;">
            <div class="row">
                @if (Model.Where(f => f.IsFeatured == true).Count() == 0)
                {
                    <h1>Brak ofert</h1>
                }
                @foreach (var item in Model.Where(f => f.IsFeatured == true).Take(8))
                {
                    <div class="container col-sm-6">
                        <a asp-area="Jobs" asp-action="Details" asp-route-name="@item.Title" asp-route-id="@item.Id" class="text-decoration-none text-black">
                            <div class="joboffer-main">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-2">
                                            <img src="~/images/@item.PhotoCompanyOffer" class="job-offer-images-main PanelImage" />
                                        </div>
                                        <div class="col-7">
                                            <h5></h5>
                                            <p>@Html.DisplayFor(modelItem => item.Title)</p>
                                            <p>@Html.DisplayFor(modelItem => item.CompanyNameOffer)</p>
                                            <p>@Html.DisplayFor(modelItem => item.PaymentMin) - @Html.DisplayFor(modelItem => item.PaymentMax)</p>
                                            <p>@Html.DisplayFor(modelItem => item.PublicationTime)</p>
                                        </div>
                                        <div class="col-3">
                                            <div class="joboffer-button TypeOfJob text-center TypeOfJob-@Html.DisplayFor(modelItem => item.TypeOfJob)">
                                                <div>@Html.DisplayFor(modelItem => item.TypeOfJob)</div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </a>
                        <div><br /><br /></div>
                    </div>

                }
            </div>
        </div>

        <div class="my-5 row justify-content-center">
            <div class="menu col-3 a-button py-2 text-center">
                <a class="text-white" href="../Jobs">
                    Zobacz wszystkie oferty 🡲
                </a>
            </div>
        </div>
    </div>
</main>

<figure>
    <img class="backgound-image-news" />

    <div class="main-text centered">Aktualności</div>

</figure>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        function CLick() {
            $("#RejestrujJako").val("Kandydat");
        }

        $(document).ready(function () {

            $(".filter-feature").click(function () {
                var value = $(this).attr('data-filter');

                $(".filter").not('.' + value).hide('5000');
                $('.filter').filter('.' + value).show('5000');

            });

        });
    </script>

}
