@model JobApplication.Areas.Identity.Data.ViewModels.UserAndOffers
@{
    ViewData["Title"] = "Index";
}

@*<h1>Index</h1>

    <h4>AppUserEmployeeExtension</h4>
    <hr />*@

<div class="tab">
    <div class="displayImage">
        <img alt="zdjecie" />
        <label>Witaj @User.Identity.Name!</label>
    </div>
    <button class="tablinks" id="Panel" onclick="OpenNavbarItem(event, 'Employer1')">Panel użytkownika</button>
    <button class="tablinks" id="Oferty" onclick="OpenNavbarItem(event, 'Employer2')">Dodaj ofertę pracy</button>
    <button class="tablinks" id="oferta" onclick="OpenNavbarItem(event, 'Employer3')">Wszystkie oferty pracy</button>
    <button class="tablinks" id="Oferty" onclick="OpenNavbarItem(event, 'Employer4')">Aplikacje</button>
    <button class="tablinks" id="Oferty" onclick="OpenNavbarItem(event, 'Employer5')">Pakiety</button>
    <button class="tablinks" id="Oferty" onclick="OpenNavbarItem(event, 'Employer6')">Zapisane cv</button>
    <button class="tablinks" id="Oferty" onclick="OpenNavbarItem(event, 'Employer7')">Opinie</button>
    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <button class="tablinks" type="submit">Wyloguj!</button>
    </form>
</div>

@*<div class="userPanelPadding">
    <main role="main" class="pb-3">
        <div class="login-Containter">*@
<div class="userPanelPadding">
    <div id="Employer1" class="tabcontent">
        <main role="main" class="pb-3">
            <div class="login-Containter">
                <div class="row">
                    <div class="userblock-6">
                        <div class="box sandybrown">
                            <div class="row">
                                <div class="col-3">
                                    <div class="boxitem">
                                        <img alt="Zdjoncie" />
                                    </div>
                                </div>
                                <div class="col-9">
                                    <div class="boxitem">
                                        <div class="row">
                                            @User.Identity.Name
                                        </div>
                                        <div class="row">
                                            Nagłówek
                                        </div>
                                        <div class="row">
                                            <input type="button" id="editProfile" asp-route-name="?ProfileEdit" value="Edytuj" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="userblock-3">
                                <div class="box sandybrown">
                                    <div class="boxitem">
                                        cos tu
                                    </div>
                                </div>
                            </div>
                            <div class="userblock-3">
                                <div class="box darkseagreen">
                                    <div class="boxitem">
                                        cos tu
                                    </div>
                                </div>
                            </div>
                            <div class="userblock-3">
                                <div class="box cadetblue">
                                    <div class="boxitem">
                                        cos tu
                                    </div>
                                </div>
                            </div>
                            <div class="userblock-3">
                                <div class="box blanchedalmond">
                                    <div class="boxitem">
                                        cos tu
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="userblock-6">
                                <div class="box slategray">
                                    <div class="boxitem">
                                        cos tu
                                    </div>
                                </div>
                            </div>
                            <div class="userblock-6">
                                <div class="box slategray">
                                    <div class="boxitem">
                                        cos tu
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    @*<form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="jobOffer.Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeOfJob" class="control-label"></label>
                <input asp-for="TypeOfJob" class="form-control" />
                <span asp-validation-for="TypeOfJob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentMin" class="control-label"></label>
                <input asp-for="PaymentMin" class="form-control" />
                <span asp-validation-for="PaymentMin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentMax" class="control-label"></label>
                <input asp-for="PaymentMax" class="form-control" />
                <span asp-validation-for="PaymentMax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublicationTime" class="control-label"></label>
                <input asp-for="PublicationTime" class="form-control" />
                <span asp-validation-for="PublicationTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Skills" class="control-label"></label>
                <input asp-for="Skills" class="form-control" />
                <span asp-validation-for="Skills" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deadline" class="control-label"></label>
                <input asp-for="Deadline" class="form-control" />
                <span asp-validation-for="Deadline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChooseTheCurrency" class="control-label"></label>
                <input asp-for="ChooseTheCurrency" class="form-control" />
                <span asp-validation-for="ChooseTheCurrency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>*@
    <div id="Employer2" class="tabcontent" style=" display:none">
        <main role="main" class="pb-3">
            <div class="login-Containter">
                <div class="row">
                    obrazek
                </div>
                <form asp-action="CreateNewJobOffer" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div>
                        <div class="row">
                            <div class="col-12">
                                <b>TYTUŁ*</b>
                                <input asp-for="jobOffer.Title" class="form-control form-input" placeholder="Wprowadz tytuł" />
                                <span asp-validation-for="jobOffer.Title" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="row">
                            <div class="col-12">
                                <b>OPIS*</b>
                                <textarea asp-for="jobOffer.Description" class="form-control form-input" placeholder="Wprowadz opis"> </textarea>
                                <span asp-validation-for="jobOffer.Description" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 col-md-12">
                            <b>KATEGORIA OFERTY PRACY*</b>
                            <input asp-for="jobOffer.Category" class="form-control form-input" placeholder="Wybierz kategorię" />
                            <span asp-validation-for="jobOffer.Category" class="text-danger"></span>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <b>WYMIAR PRACY*</b>
                            <input asp-for="jobOffer.TypeOfJob" class="form-control form-input" placeholder="Wybierz wymiar pracy" />
                            <span asp-validation-for="jobOffer.TypeOfJob" class="text-danger"></span>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <b>POZIOM STANOWISKA*</b>
                            <input asp-for="jobOffer.TypeOfJob" class="form-control form-input" placeholder="Wybierz poziom stanowiska" />
                            <span asp-validation-for="jobOffer.TypeOfJob" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 col-md-12">
                            <b>WYNAGRODZENIE OD</b>
                            <input asp-for="jobOffer.PaymentMin" class="form-control form-input" placeholder="Wprowadz wynagrodzenie od" />
                            <span asp-validation-for="jobOffer.PaymentMin" class="text-danger"></span>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <b>WYNAGRODZENIE DO</b>
                            <input asp-for="jobOffer.PaymentMax" class="form-control form-input" placeholder="Wprowadz wynagrodzenie do" />
                            <span asp-validation-for="jobOffer.PaymentMax" class="text-danger"></span>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <b>WALUTA</b>
                            <select asp-for="jobOffer.ChooseTheCurrency" class="form-input">
                                <option disabled selected>Wybierz walutę</option>
                                <option value="PLN">PLN</option>
                                <option value="EUR">EUR</option>
                                <option value="GBP">GBP</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 col-md-12">
                            <b>JĘZYKI</b>
                            <input type="text" placeholder="Wybierz język" class="w-100" />

                        </div>
                        <div class="col-lg-4 col-md-12">
                            <b>PŁEĆ</b>
                            <input type="text" placeholder="Wprowadz płeć" class="w-100" />

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <b>USTAWIENIA APLIKACJI</b>
                            <div class="row">
                                <div class="col-6">
                                    <b>TERMIN SKŁADANIA APLIKACJI</b>
                                    <input asp-for="jobOffer.Deadline" class="form-control form-input" placeholder="Wprowadz deadline" />
                                    <span asp-validation-for="jobOffer.Deadline" class="text-danger"></span>
                                </div>
                                <div class="col-6">
                                    <b>E-MAIL DO SKŁADANIA APLIKACJI</b>
                                    <input asp-for="jobOffer.Deadline" class="form-control form-input" placeholder="Wprowadz deadline" />
                                    <span asp-validation-for="jobOffer.Deadline" class="text-danger"></span>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <b>WYMAGANE UMIEJĘTNOŚCI</b>
                            <input asp-for="jobOffer.Skills" class="form-control form-input" placeholder="Wprowadz wymagane umiejętności" />
                            <span asp-validation-for="jobOffer.Skills" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <b>LOKALIZACJA I MAPA</b>
                            Mapa fajna
                            <input asp-for="jobOffer.Location" class="form-control form-input" placeholder="Wprowadz tytuł" />
                            <span asp-validation-for="jobOffer.Location" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <b>PublicationTIme</b>
                            <input asp-for="jobOffer.PublicationTime" class="form-control form-input" placeholder="Wprowadz tytuł" />
                            <span asp-validation-for="jobOffer.PublicationTime" class="text-danger"></span>
                        </div>
                    </div>
                    <input type="submit" />
                </form>
            </div>
        </main>
    </div>

    <div id="Employer3" class="tabcontent" style=" display:none">
        <div id="Employer3" class="tabcontent" style=" display:none">
            <main role="main" class="pb-3">
                <div class="login-Containter">
                    <div class="row">
                        <div class="col-4">
                            <div class="row">
                                <div class="col-9 px-0">
                                    <div>
                                        <select class="form-input">
                                            <option>1</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-3 px-0">
                                    <button>
                                        🔍
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div>
                                <select class="form-input">
                                    <option>1</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-3">
                            <div>
                                <select class="form-input">
                                    <option>1</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <table class="table table-sm table-striped table-bordered m-2">
                            <thead>
                                <tr>
                                    <th>TYTYŁ</th>
                                    <th>APLIKACJE</th>
                                    <th>UTWORZONO</th>
                                    <th>PRZEDAWNIONY</th>
                                    <th>PODGLĄD</th>
                                    <th>STATUS</th>
                                    <th>WYRÓŻNIONE</th>
                                    <th>AKCJA</th>
                                </tr>
                            </thead>
                            <tbody id="tablebody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <div id="Employer4" class="tabcontent" style=" display:none">
        <main role="main" class="pb-3">
            <div class="login-Containter">
                <div class="row">
                    <div class="col-4">
                        <div class="row">
                            <div class="col-9 px-0">
                                <div>
                                    <select class="form-input">
                                        <option>1</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-3 px-0">
                                <button>
                                    🔍
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div>
                            <select class="form-input">
                                <option>1</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-3">
                        <div>
                            <select class="form-input">
                                <option>1</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    Tu bedzie tabela z aplikacjami
                </div>
            </div>
        </main>
    </div>

    <div id="Employer5" class="tabcontent" style=" display:none">
       
        <main role="main" class="pb-3">
            <div class="login-Containter">
                <div class="row">
                    <div class="col-2">
                        <div>
                            @*<div class="form-group">
                                <input name="file" type="file" onchange="ShowPreview(this)" class="btn btn-primary" />
                            </div>
                            <img ID="impPrev" class="img-fluid rounded" src="~/images/@Model.BackgroundImage" />*@
                        </div>
                    </div>
                    <div class="col-10">
                        <div class="row">
                            <div>
                                Text costam
                            </div>
                        </div>
                        <div class="row">
                            <div>
                                <input type="button" />
                            </div>
                        </div>
                    </div>
                </div>
                <form asp-action="ProfilePost" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" id="ID" asp-for="AppUserDto.Id" />
                    <div class="form-group">
                        <input name="file" type="file" onchange="ShowPreview(this)" class="btn btn-primary" />
                    </div>
                    <img ID="impPrev" class="img-fluid rounded BackgroundImage backgroundimage-css" @*src="~/images/@Model.BackgroundImage"*@ />
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <b>NAZWA FIRMY*</b>
                            <input id="CompanyName" class="form-control form-input" asp-for="AppUserDto.CompanyName" placeholder="Wprowadz nazwę firmy" />
                            <span asp-validation-for="AppUserDto.CompanyName" class="text-danger"></span>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <b>EMAI*L</b>
                            <input id="Email" class="form-control form-input" asp-for="AppUserDto.Email" placeholder="Wprowadz email" />
                            <span asp-validation-for="AppUserDto.Email" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <b>NAGŁÓWEK*</b>
                            <input id="Headline" class="form-control form-input" asp-for="AppUserDto.Headline" placeholder="Wprowadz nagłówek" />
                            <span asp-validation-for="AppUserDto.Headline" class="text-danger"></span>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <b>TELEFON</b>
                            <input id="PhoneNumber" class="form-control form-input" asp-for="AppUserDto.PhoneNumber" placeholder="Wprowadz email" />
                            <span asp-validation-for="AppUserDto.PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <b>STRONA WWW</b>
                            <input id="Website" class="form-control form-input" asp-for="AppUserDto.Website" placeholder="Wprowadz stronę internetową" />
                            <span asp-validation-for="AppUserDto.Website" class="text-danger"></span>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <b>DATA ZAŁOŻENIA=</b>
                            <input id="FoundingDate" class="form-control form-input" asp-for="AppUserDto.FoundingDate" placeholder="Wprowadz datę założenia" />
                            <span asp-validation-for="AppUserDto.FoundingDate" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <b>ROZMIAR FIRMY*</b>
                            <select asp-for="AppUserDto.CompanySize" id="CompanySize" asp-items="@Html.GetEnumSelectList<JobApplication.Areas.Identity.Data.CompanySize>()" class="form-control"></select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <b>KRÓTKI OPIS*</b>
                            <textarea asp-for="AppUserDto.ShortDescription" class="form-control form-input" placeholder="Wprowadz krótki opis"> </textarea>
                            <span asp-validation-for="AppUserDto.ShortDescription" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <b>OPIS</b>
                            <textarea asp-for="AppUserDto.Descrption" class="form-control form-input" placeholder="Wprowadz krótki opis"> </textarea>
                            <span asp-validation-for="AppUserDto.Descrption" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <b>PREFERENCJE ZAWODOWE</b>
                            <div class="row">
                                <div class="col-12">
                                    <b>KATEGORIE=</b>
                                    <input asp-for="AppUserDto.Categories" class="form-control form-input" placeholder="Nie wybrano" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <b>LOKALIZACJA I MAPA</b>
                            <div class="row">
                                <div class="col-12">
                                    mapa
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <b>ADRES PLIKU WIDEO</b>
                            <div class="row">
                                <div class="col-12">
                                    <input asp-for="AppUserDto.VideoUrl" class="form-control form-input" placeholder="Nie wybrano" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <b>ZDJĘCIE W TLE</b>
                            <div class="row">
                                <div class="col-2">
                                    zdjecie
                                </div>
                                <div class="col-10">
                                    <input type="button" asp-for="AppUserDto.VideoUrl" class="form-control form-input" placeholder="Nie wybrano" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <b>GALERIA</b>
                            <div class="row">
                                ???
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <b>FIRMOWY PROFIL SPOŁECZNOŚCIOWY</b>
                            <div class="row">
                                <div class="col-lg-6 col-md-12">
                                    <b>FACEBOOK</b>
                                    <input id="FacebookProfile" class="form-control form-input" asp-for="AppUserDto.FacebookProfile" placeholder="Wprowadz profil facebooka" />
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <b>TWITTER</b>
                                    <input id="TwitterProfile" class="form-control form-input" asp-for="AppUserDto.TwitterProfile" placeholder="Wprowadz profil twittera" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-12">
                                    <b>YOUTUBE</b>
                                    <input id="YoutubeProfile" class="form-control form-input" asp-for="AppUserDto.YoutubeProfile" placeholder="Wprowadz profil youtube" />
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <b>VIMEO</b>
                                    <input id="VimeoProfile" class="form-control form-input" asp-for="AppUserDto.VimeoProfile" placeholder="Wprowadz profil vimeo" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-12">
                                    <b>LINKEDIN</b>
                                    <input id="LinkedinProfile" class="form-control form-input" asp-for="AppUserDto.LinkedinProfile" placeholder="Wprowadz profil linkedin" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="submit" value="Zaaktualizuj profil" class="btn btn-primary" />
                </form>
            </div>
        </main>

    </div>

    <div id="Employer6" class="tabcontent" style=" display:none">
        <main role="main" class="pb-3">
            <div class="login-Containter">
                <div class="row">
                    <div class="col-3">
                        <div class="row">
                            <div class="col-9 px-0">
                                <div>
                                    <select class="form-input">
                                        <option>1</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-3 px-0">
                                <button>
                                    🔍
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    Tu bedzie tabela z cv
                </div>
            </div>
        </main>
    </div>

    <div id="Employer7" class="tabcontent" style=" display:none">
        <main role="main" class="pb-3">
            <div class="login-Containter">
                <div class="row">
                    <div class="col-3">
                        <div class="row">
                            <div class="col-9 px-0">
                                <div>
                                    <select class="form-input">
                                        <option>1</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-3 px-0">
                                <button>
                                    🔍
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    Tu bedzie tabela z opiniami
                </div>
            </div>
        </main>
    </div>
    @*</div>
            </main>
        </div>*@


    @*<div>
            <a asp-action="Index">Back to List</a>
        </div>*@



    @*<div class="row">
            <div class="col-md-4">
                <form asp-action="Index">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="IsShowing" /> @Html.DisplayNameFor(model => model.IsShowing)
                            </label>
                        </div>
                        <div class="form-group">
                            <label asp-for="CVFile" class="control-label"></label>
                            <input asp-for="CVFile" class="form-control" />
                            <span asp-validation-for="CVFile" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Languages" class="control-label"></label>
                            <input asp-for="Languages" class="form-control" />
                            <span asp-validation-for="Languages" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="UserId" class="control-label"></label>
                            <input asp-for="UserId" class="form-control" />
                            <span asp-validation-for="UserId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>

                </form>
            </div>
        </div>*@
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>

        $("#editProfile").click(function () {
            $.ajax({
                method: "GET",
                url: "/Panel/EditProfile",
                success: function (data) {
                    //     alert(data);
                    // if data is in string format
                    var Data = $.parseJSON(data);
                    $("#ID").val(Data.Id);
                    $("#CompanyName").val(Data.CompanyName);
                    $("#Email").val(Data.Email);
                    $("#VideoUrl").val(Data.VideoUrl);
                    $("#Website").val(Data.Website);
                    $("#FoundingDate").val(Data.FoundingDate);
                    $("#ShortDescription").val(Data.ShortDescription);
                    $("#Descrption").val(Data.Descrption);
                    $("#Categories").val(Data.Categories);


                    $("#Address").val(Data.Address);
                    $("#PhoneNumber").val(Data.PhoneNumber);
                    //$("#BackgroundImage").val(Data.BackgroundImage);
                    $(".BackgroundImage").attr("src", "/images/" + Data.BackgroundImage);
                    $("#FacebookProfile").val(Data.FacebookProfile);
                    $("#Gallery").val(Data.Gallery);
                    $("#Headline").val(Data.Headline);
                    $("#LinkedinProfile").val(Data.LinkedinProfile);
                    $("#TwitterProfile").val(Data.TwitterProfile);

                    $("#VideoUrl").val(Data.VideoUrl);
                    $("#VimeoProfile").val(Data.VimeoProfile);
                    $("#YoutubeProfile").val(Data.YoutubeProfile);

                }
            });
        });

        //$(document).ready(function () {
        //    $(".tablinks").click(function () {
        //        var id = $(this).attr("id");
        //        var url = "/Panel?ID=" + id;
        //        window.location.href = url;
        //    });
        //});

        $(document).ready(function () {



            $("#editProfile").click(function () {
                $("#Employer1").load("/Panel/GetEditPartialView");
            });

            $("#oferta").click(function () {
                $("#tablebody tr").remove();
                $.ajax({
                    url: "/Panel/GetJobOffers",
                    type: "get",
                    success: function (data) {
                        var Data = $.parseJSON(data);
                        $.each(Data, function (value) {
                            $("tbody").append($("<tr>"));
                            appendElement = $("tbody tr").last();
                            appendElement.append($("<td>").html(Data[value]["Title"]));
                            appendElement.append($("<td>").html(Data[value]["TypeOfJob"]));
                            appendElement.append($("<td>").html(Data[value]["PublicationTime"]));
                            appendElement.append($("<td>").html(Data[value]["Deadline"]));
                            appendElement.append($("<td>").html(Data[value]["Deadline"]));
                            appendElement.append($("<td>").html(Data[value]["Deadline"]));
                            appendElement.append($("<td>").html(Data[value]["Deadline"]));
                            appendElement.append($("<td>").html(Data[value]["Deadline"]));
                        });
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr)
                    }
                });
            });

        });



        function OpenNavbarItem(evt, itemNumber) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(itemNumber).style.display = "block";
            evt.currentTarget.className += " active";
        }

    </script>
}
