
@model IEnumerable<JobApplication.Models.JobOffer>;
@{
    ViewData["Title"] = "Home Page";
}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<figure>
    <img class="background-main-image" />
    <div class="main-settings">
        <figcaption>
            <div class="main-text">ZNAJDŹ PRACĘ</div>
            <div><br />Wyszukaj naszą bazę ofert, by odkryć coś dla siebie!</div>
            <div class="text-box select-box">
                <div class="field-item text">
                    <a>Słowo kluczowe?</a>
                    <input type="text" placeholder="Posada, zawód..." />
                </div>
                <div class="field-item text">
                    <a>Gdzie?</a>
                    <select placeholder="Wszystkie lokalizacje">
                        <option value="au">Australia</option>
                    </select>
                </div>
                <div class="field-item text">
                    <a>Branża?</a>
                    <select placeholder="Wszystkie kategorie">
                        <option value="au">Australia</option>
                    </select>
                </div>
                <div class="btn main-button">
                    <div class="text-button">
                        🡒
                    </div>
                </div>
            </div>
        </figcaption>
    </div>
</figure>

<main role="main" class="pb-3">
    <div class="container">

        @if (User.IsInRole(SD.EmployerRole))
        {
            <p>pracownik</p>
        }

        @if (User.IsInRole(SD.CandidateRole))
        {
            <p>kandydat</p>
        }
        <div class="text-center">
            <div class="menu my-5">
                <div class="row">
                    <div class="menu-item disabled col-6 button1 current-menu-item disabled">
                        <div text-align:center;">NAJNOWSZE OFERTY</div>
                        <div class="wee disabled"></div>
                    </div>
                    <div class="menu-item col-6 button2">
                        <div text-align:center;">WYRÓŻNIONE OFERTY</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="lds-ellipsis-wrapper">
            <div class="lds-ellipsis" id="Loader"><div></div><div></div><div></div><div></div></div>
        </div>
        <div class="row">
            @if (Model == null)
            {
                <h1>Brak ofert</h1>
            }
            else
                @foreach (var item in Model)
                {
                    <div class="container col-sm-6">
                    <a asp-action="Details" asp-route-name="@item.Title" asp-route-id="@item.Id" class="text-decoration-none text-black">
                        <div class="joboffer-main">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-2">
                                        <img src="~/images/36cd8375-c845-412a-86ac-ce0893c4a86d.png" class="job-offer-images-main PanelImage" />
                                    </div>
                                    <div class="col-7">
                                        <h5></h5>
                                        <p>@Html.DisplayFor(modelItem => item.Title)</p>
                                        <p>@Html.DisplayFor(modelItem => item.CompanyNameOffer)</p>
                                        <p>@Html.DisplayFor(modelItem => item.PaymentMin) - @Html.DisplayFor(modelItem => item.PaymentMax)</p>
                                        <p>@Html.DisplayFor(modelItem => item.PublicationTime)</p>
                                    </div>
                                    <div class="col-3">
                                        <div class="joboffer-button TypeOfJob text-center TypeOfJob-@Html.DisplayFor(modelItem => item.TypeOfJob)">
                                            <div>@Html.DisplayFor(modelItem => item.TypeOfJob)</div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </a>
                        <div><br /><br /></div>
                    </div>
                }
        </div>

        <div class="my-5 row justify-content-center">
            <div class="menu col-3 a-button py-2 text-center">
                <a class="text-white" href="../Jobs">
                    Zobacz wszystkie oferty 🡲
                </a>
            </div>
        </div>
    </div>
</main>

<figure class="px-0">
    <div class="row">

        <div class="col-6 px-0">
            <img class="backgound-image-choice1" />

            <div class="text-on-img-back centered">
                <b>Jestem</b><br />
                <div class="text-on-img-back-main">PRACODAWCĄ</div><br />
                Dodawaj oferty pracy i szukaj kandydatkow<br />
                <form asp-area="Identity" asp-page="/Account/Register" method="get">
                    <input type="text" hidden id="RejestrujJako" name="RejestrujJako" value="Pracodawca" />
                    <button class="btn-primary mt-5 rounded-5" onclick="CLick1" id="RejestrujJakoPracodawca">
                        <div class="p-1">
                            Zarejestruj firmę
                        </div>
                    </button>
                 </form>
            </div>
        </div>
        <div class="col-6 px-0">
            <img class="backgound-image-choice2" />


            <div class="text-on-img-back centered">
                <b>Jestem</b><br />
                <div class="text-on-img-back-main">KANDYDATEM</div><br />
                Przeszukaj bazę ofert pracy, aplikuj, zapisuj na później...<br />
                <form asp-area="Identity" asp-page="/Account/Register" method="get">
                    <input type="text" hidden id="RejestrujJako" name="RejestrujJako" value="Kandydat" />
                    <button class="btn-primary mt-5 rounded-5" onclick="CLick2" id="RejestrujJakoKandydat">
                        <div class="p-1">
                            Zarejestruj się jako kandydat
                        </div>
                    </button>
                </form>
            </div>
        </div>
    </div>
</figure>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        function CLick1() {
            $("#RejestrujJakoKandydat").val("Kandydat");
        }
    </script>

    <partial name="_ValidationScriptsPartial" />
    <script>
        function CLick2() {
            $("#RejestrujJakoPracodawca").val("Pracodawca");
        }
    </script>
}