
@model IEnumerable<JobApplication.Models.JobOffer>; 
@{
    ViewData["Title"] = "Home Page";
}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<figure>
    <img class="background-main-image" />
    <div class="main-settings">
        <figcaption>
            <div class="main-text">ZNAJDŹ PRACĘ</div>
            <div><br />Wyszukaj naszą bazę ofert, by odkryć coś dla siebie!</div>
            <div class="text-box select-box">
                <div class="field-item text">
                    <a>Słowo kluczowe?</a>
                    <input type="text" placeholder="Posada, zawód..." />
                </div>
                <div class="field-item text">
                    <a>Gdzie?</a>
                    <select placeholder="Wszystkie lokalizacje">
                        <option value="au">Australia</option>
                    </select>
                </div>
                <div class="field-item text">
                    <a>Branża?</a>
                    <select placeholder="Wszystkie kategorie">
                        <option value="au">Australia</option>
                    </select>
                </div>
                <div class="btn main-button">
                    <div class="text-button">
                        🡒
                    </div>
                </div>
            </div>
        </figcaption>
    </div>
</figure>
<div class="container">
    <main role="main" class="pb-3">
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Cor e</a>.</p>
        </div>

        @if (User.IsInRole(SD.EmployerRole))
        {
            <p>pracownik</p>
        }

        @if (User.IsInRole(SD.CandidateRole))
        {
            <p>kandydat</p>
        }
        <div class="text-center">
            <div class="menu">
                <div class="row">
                    <div class="menu-item disabled col-6 button1 current-menu-item disabled">
                        <div text-align:center;">NAJNOWSZE OFERTY</div>
                        <div class="wee disabled"></div>
                    </div>
                    <div class="menu-item col-6 button2">
                        <div text-align:center;">WYRÓŻNIONE OFERTY</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="lds-ellipsis-wrapper">
            <div class="lds-ellipsis" id="Loader"><div></div><div></div><div></div><div></div></div>
        </div>

    </main>
    <div class="row">
        @if(Model==null)
        {
            <h1>Brak ofert</h1>
        }
        else
        @foreach (var item in Model)
        {
            <div class="container col-sm-6">
                <div class="joboffer-main">
                    <div class="card-body text-center">
                        <div class="row">
                            <img src="~/images/36cd8375-c845-412a-86ac-ce0893c4a86d.png" class="job-offer-images-main"/>
                            <h5>@Html.DisplayFor(modelItem => item.Title)</h5>
                            <div class="joboffer-button">
                                <a>@Html.DisplayFor(modelItem => item.TypeOfJob)</a>
                            </div>
                        </div>
                        <p>@Html.DisplayFor(modelItem => item.PaymentMin) - @Html.DisplayFor(modelItem => item.PaymentMax)</p>
                        <p>@Html.DisplayFor(modelItem => item.CompanyNameOffer)</p>
                        <p>@Html.DisplayFor(modelItem => item.Deadline)</p>
                    </div>
                </div>
                <div><br /><br /></div>
            </div>
        }
    </div>
</div>

