@page
@model RegisterModel
@{
    ViewData["Title"] = "Rejestracja";
}

<h1>@ViewData["Rejestracja"]</h1>

<figure>
    <img class="backgound-image-register" />
    <figcaption>    @ViewData["Title"]</figcaption>
</figure>

<div class="container">
    <main role="main" class="pb-3">
        <div class="container login-Containter col-lg-8 col-md-10 col-sm-12">
            @{string urlParam = Request.QueryString.Value.Substring(Request.QueryString.Value.IndexOf("=") + 1);}
            @if (urlParam != "Pracodawca" && urlParam != "Kandydat")
            {
                <div class="text-center">
                    <div class="menu">
                        <div class="row">
                            <div class="menu-item disabled col-6 button1 current-menu-item disabled" style="z-index:0">
                                <div style="z-index:0; text-align:center;">Kandydat </div>
                                <div class="wee disabled" style="z-index:-1"></div>
                            </div>
                            <div class="menu-item col-6 button2" style="z-index:0">
                                <div style="z-index:0; text-align:center;">Pracodawca</div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div>

                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group border">
                        @*<label asp-for="Input.Email"></label>*@
                        <div class="form-containter">
                            <label style="color:royalblue">Email</label>
                            <div style=" padding-left:40px">
                                <img />
                                <input asp-for="Input.Email" class="borderless-form" placeholder="Wprowadź nazwę użytkownika lub email" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div>
                        <input id="Role" asp-for="Input.Role" value="Candidate" />
                    </div>

                    <div class="form-group border">
                        @*<label asp-for="Input.Email"></label>*@
                        <div class="form-containter">
                            <label style="color:royalblue">Nazwa użytkownika</label>
                            <div style=" padding-left:40px">
                                <img />
                                <input asp-for="Input.Username" class="borderless-form" placeholder="Wprowadź nazwę użytkownika lub email" />
                                <span asp-validation-for="Input.Username" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group border firma">
                        @*<label asp-for="Input.Password"></label>*@
                        <div class="form-containter">
                            <label style="color:royalblue">Firma</label>
                            <div style=" padding-left:40px">
                                <img />
                                <input id="NazwaFirmy" asp-for="Input.companyName" class="borderless-form" placeholder="Wpisz nazwę firmy" />
                                <span asp-validation-for="Input.companyName" id="companyNameRequired" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group border">
                        @*<label asp-for="Input.Password"></label>*@
                        <div class="form-containter">
                            <label style="color:royalblue">Haslo</label>
                            <div style=" padding-left:40px">
                                <img />
                                <input input asp-for="Input.Password" class="borderless-form" placeholder="Wprowadź hasło" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <button type="submit" onclick="return validateInput()" class="btn btn-primary" style="margin: 15px 0px 15px 0px; width: 100%">Zarejestruj się</button>
                </form>
            </div>
            <div class="col-md-6 col-md-offset-2">
                <section>
                    <h4>Use another service to register.</h4>
                    <hr />
                    @{
                        if ((Model.ExternalLogins?.Count ?? 0) == 0)
                        {
                            <div>
                                <p>
                                    There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                    for details on setting up this ASP.NET application to support logging in via external services.
                                </p>
                            </div>
                        }
                        else
                        {
                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                <div>
                                    <p>
                                        @foreach (var provider in Model.ExternalLogins)
                                        {
                                            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                        }
                                    </p>
                                </div>
                            </form>
                        }
                    }
                </section>
            </div>
        </div>
    </main>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        function validateInput()
        {
            var pageURL = $(location).attr("href");
            var edited = pageURL.substr(pageURL.indexOf("=") + 1);
            if (edited == "Pracodawca") {
                $("#Role").val("Employer");
            }if (edited == "Kandydat")
            {
                $("#Role").val("Candidate");
            }
        if (document.getElementById("Role").value == "@JobApplication.Models.SD.CandidateRole")
        {
            return true;
        }

        var str = document.getElementById("NazwaFirmy").value;
        if (str === null || str.match(/\S/))
        {
            return true;
        }
        else
        {
            document.getElementById("companyNameRequired").innerHTML = "Nazwa firmy jest wymagana";
            return false;
        }

        }

        $(document).ready(function () {

            var pageURL = $(location).attr("href");
            var edited = pageURL.substr(pageURL.indexOf("=") + 1);
            if (edited == "Pracodawca")
            {
                ShowCompany();
                $("#Role").val("Employer");
            } else
            {
                $("#Role").val("Candidate");
            }
            alert(edited);

        });

    </script>
}
