@model JobApplication.Models.JobOffer

@{
    ViewData["Title"] = "Details";
}


<main role="main" class="pb-3">
    <div class="container">
        <div class="justify-content-center row">
            <div class="col-8 py-5">
                <div class="filter-area px-5">

                    <div class="row py-4">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                    Lokalizacja:
                                </div>
                                <div class="col-6">
                                    @Html.DisplayFor(model => model.Location)
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                    Wynagrodzenie:
                                </div>
                                <div class="col-6">
                                    @Html.DisplayFor(model => model.PaymentMin) -  @Html.DisplayFor(model => model.PaymentMax)
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row py-4">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                    Typ pracy:
                                </div>
                                <div class="col-6">
                                    @Html.DisplayFor(model => model.TypeOfJob)
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                    Opublikowano:
                                </div>
                                <div class="col-6">
                                    @Html.DisplayFor(model => model.PublicationTime)
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row py-4">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                    Kategoria:
                                </div>
                                <div class="col-6">
                                    @Html.DisplayFor(model => model.Category)
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                    Termin ostateczny:
                                </div>
                                <div class="col-6">
                                    @Html.DisplayFor(model => model.Deadline)
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row py-4">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                    Języki:
                                </div>
                                <div class="col-6">
                                    @Html.DisplayFor(model => model.Languages)
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row py-4">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12">
                                    @Html.DisplayFor(model => model.Description)
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row py-4">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12">
                                    Lokalizacja
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
            <div class="col-4 py-5">
                <div class="filter-area">
                    <div class="row">
                        @Html.DisplayFor(model => model.Title)
                    </div>
                    <div class="row">
                        Form
                    </div>
                        <div class="row px-5">
                           <input />
                        </div>
                        <div class="row px-5">
                            <input />
                        </div>
                        <div class="row px-5">
                            <input />
                        </div>
                        <div class="row px-5">
                            <input />
                        </div>
                        <div class="row px-5">
                            <form asp-action="Applied" asp-route-id="@Model.Id">
                                <button type="submit" class="btn-primary">Aplikuj</button>
                            </form>
                        </div>
                    @*@Html.DisplayFor(model => model.image)*@
                </div>
            </div>
        </div>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</main>
