@model JobApplication.Models.JobOffer
@{
    ViewData["Title"] = "Details";
}


<main role="main" class="pb-3">
    <div class="container">
        <div class="justify-content-center row">
            <div class="col-8 py-5">
                <div class="filter-area px-5">

                    <div class="row py-4">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12 bolded text-20">
                                    Dane:
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row py-4">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                    Lokalizacja:
                                </div>
                                <div class="col-6">
                                    @Html.DisplayFor(model => model.Location)
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                    Wynagrodzenie:
                                </div>
                                <div class="col-6">
                                    @Html.DisplayFor(model => model.PaymentMin) -  @Html.DisplayFor(model => model.PaymentMax)
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row py-4">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                    Typ pracy:
                                </div>
                                <div class="col-6">
                                    @Html.DisplayFor(model => model.TypeOfJob)
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                    Opublikowano:
                                </div>
                                <div class="col-6">
                                    @Html.DisplayFor(model => model.PublicationTime)
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row py-4">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                    Kategoria:
                                </div>
                                <div class="col-6">
                                    @Html.DisplayFor(model => model.Category)
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                    Termin ostateczny:
                                </div>
                                <div class="col-6">
                                    @Html.DisplayFor(model => model.Deadline)
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row py-4">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                    Języki:
                                </div>
                                <div class="col-6">
                                    @Html.DisplayFor(model => model.Languages)
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr />

                    <div class="row py-4">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12 bolded text-20">
                                    Opis:
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row py-4">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12">
                                    @Html.DisplayFor(model => model.Description)
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr />

                    <div class="row py-4">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12 bolded text-20">
                                    Lokalizacja:
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
            <div class="col-4 py-5" style="position:sticky">
                <div class="filter-area">
                    <div class="row">
                        <div class="col-12 text-center py-2 bolded text-20">
                            @Html.DisplayFor(model => model.Title)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center py-2">
                            <img src="~/images/@Html.DisplayFor(model => model.PhotoCompanyOffer)" class="image-joboffer" />
                        </div>
                    </div>
                    <hr/>
                    <div class="row px-5 py-2">
                        <input class="form-control form-input" placeholder="Twoje imię" value="@User.Identity.Name" />
                    </div>
                    <div class="row px-5 py-2">
                        <input class="form-control form-input" placeholder="Twoj email" />
                    </div>
                    <div class="row px-5 py-2">
                        <input class="form-control form-input" placeholder="Przedmiot" />
                    </div>
                    <div class="row px-5 py-2">
                        <input class="form-control form-input" placeholder="Wiadomość" />
                    </div>
                    <div class="row px-5 py-2">
                        <form asp-action="Applied" asp-route-id="@Model.Id">
                            <button type="submit" class="btn btn-primary">Aplikuj</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</main>
