@using JobApplication.Pagination;
@model PaginationList<JobApplication.Models.JobOffer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Title)*@
                Tytuł
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Location)*@
                Lokacja
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.TypeOfJob)*@
                Typ pracy
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.PaymentMin)*@
                Płaca min
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.PaymentMax)*@
                Płaca max
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.PublicationTime)*@
                Data publikacji
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Category)*@
                Kategoria
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Skills)*@
                Umiejętności
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Deadline)*@
                Data zakończenia
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Description)*@
                Opis
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.ChooseTheCurrency)*@
                Wybierz walutę
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-name="@item.Title" asp-route-id="@item.Id"> @Html.DisplayFor(modelItem => item.Title)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeOfJob)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentMin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentMax)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublicationTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Skills)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Deadline)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChooseTheCurrency)
                </td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex - 1)" class="btn btn-info @prevDisabled "><</a>
<a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex + 1)" class="btn btn-info @nextDisabled">></a>

