@using JobApplication.Pagination;
@model PaginationList<JobApplication.Models.JobOffer>

@{
    ViewData["Title"] = "Index";
}
<figure>
<img class="background-offers-image" />
<div class="main-settings">
    <figcaption>
        <div class="main-text">Oferty pracy</div>
    </figcaption>
</div>
</figure>
<main role="main" class="pb-3">
    <div class="container">
        <div class="justify-content-center row">
 
            <div class="col-3">
                <div class="filter-area">
                    Lista filtrów
                </div>
            </div>

            <div class="col-6">
                <div class="filter-area">
                    filtry
                </div>

                @foreach (var item in Model)
                {
                    <div class="filter-area">
                        <div class="joboffer-main">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-2">
                                        <img src="~/images/36cd8375-c845-412a-86ac-ce0893c4a86d.png" class="job-offer-images-main PanelImage" />
                                    </div>
                                    <div class="col-7">
                                        <h5><a asp-action="Details" asp-route-name="@item.Title" asp-route-id="@item.Id"> @Html.DisplayFor(modelItem => item.Title)</a></h5>

                                        <p>@Html.DisplayFor(modelItem => item.CompanyNameOffer)</p>
                                        <p>@Html.DisplayFor(modelItem => item.PaymentMin) - @Html.DisplayFor(modelItem => item.PaymentMax)</p>
                                        <p>@Html.DisplayFor(modelItem => item.PublicationTime)</p>
                                    </div>
                                    <div class="col-3">
                                        <div class="joboffer-button text-center">
                                            <a>@Html.DisplayFor(modelItem => item.TypeOfJob)</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                }
                @{
                    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                }
                <a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex - 1)" class="btn btn-info @prevDisabled "><</a>
                <a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex + 1)" class="btn btn-info @nextDisabled">></a>
            </div>

            <div class="col-3">
                <div class="filter-area">
                    Ostatni pracownicy <br/>
                    Statystyki <br/>
                    Ostatnie prace <br/>
                </div>
            </div>
    
        </div>
    </div>
</main>

